In [1]:
import pandas as pd
from pandas import DataFrame

In [2]:
df = pd.read_csv('data.csv' ,index_col=0)

In [3]:
df['Country Name']=df.index
df = df.set_index('Country Name')

In [4]:
df.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,54208,55434,56234,56699,57029,57357,57702,58044,58377,58734,...,102050,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
Afghanistan,8996967,9169406,9351442,9543200,9744772,9956318,10174840,10399936,10637064,10893772,...,30117411,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
Angola,5454938,5531451,5608499,5679409,5734995,5770573,5781305,5774440,5771973,5803677,...,24220660,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0
Albania,1608800,1659800,1711319,1762621,1814135,1864791,1914573,1965598,2022272,2081695,...,2905195,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837849.0
Andorra,13410,14378,15379,16407,17466,18542,19646,20760,21886,23053,...,83748,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0

# highest and lowest population in a given year

In [28]:
year = '1999'

In [29]:
maxClm = df[year].max()
minClm = df[year].min()

In [30]:
print(minClm,df[df[year]==minClm].index.values)
print(maxClm,df[df[year]==maxClm].index.values)

9344 ['Tuvalu']
1252735000 ['China']

# highest and lowest population growth percentage from 1960 to 2020

In [38]:
start_year = '1999'
end_year = '2020'

In [39]:
df3 = ((df[end_year] -  df[start_year] ) / df[start_year])*100

In [40]:
df3 = pd.DataFrame(df3 )
df3['Country Name']=df3.index
df3 = df3.set_index('Country Name')

In [41]:
df3

                       0
Country Name
Aruba          19.949668
Afghanistan    92.993090
Angola        107.137677
Albania        -8.714968
Andorra        20.036353
...                  ...
Kosovo          1.596652
Yemen, Rep.    76.264354
South Africa   33.763257
Zambia         81.291258
Zimbabwe       25.714933

[213 rows x 1 columns]

In [42]:
max_Grow = df3[0].max()
min_Grow = df3[0].min()

In [43]:

print("Max Growth",max_Grow,df3[df3[0]==max_Grow].index.values)
print("Min Growth",min_Grow,df3[df3[0]==min_Grow].index.values)

Max Growth 405.0185280620384 ['Qatar']
Min Growth -20.695338964054073 ['Lithuania']

# highest and lowest population growth percentage in given year Range ^

# country’s population a few years from now

In [13]:
no_of_years = 5
country_name='India'

In [14]:
endyear = 2020

In [15]:
start_year = endyear-no_of_years
years_list=[]

In [16]:
for i in range(start_year+1,endyear+1):
    years_list.append(str(i))

In [17]:
df2=df[years_list]

In [18]:
df2 = pd.DataFrame(df2.loc[country_name])

In [19]:
val1=df2.loc[years_list[0]]
val2=df2.loc[years_list[-1]]

In [20]:
val1=int(val1)
val2=int(val2)

In [21]:
growth_percentage = (val2 -  val1 ) *100/ val1

In [22]:
growth_percentage

4.189234606042315

In [23]:
no_of_years_from_now = int(no_of_years)

In [24]:
yearly_growth = growth_percentage/no_of_years_from_now

In [25]:
yearly_growth

0.8378469212084629

In [26]:
future_population =  val2 * ((1+yearly_growth/100)** no_of_years_from_now)

In [27]:
future_population

1438792902.7050195